* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 114px;
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;

}

.border:hover {
    border: 1.5px solid white;
}


/* BOX 2 */

.India {
    color: #ffffff;
    font-size: 0.85rem;
    margin-left: 3pxpx;
}

.deliever {
    color: #cccccc;
    font-size: 1rem;
    margin-left: 19px;
}

.address-icon {
    display: flex;
}

/* BOX 3 */

.nav-search {
    display: flex;
    margin-left: 15px;
    height: 30px;

}

.search-select {
    background-color: orange;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-icon {
    background-color: orange;
    color: #0f1111;
    display: flex;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-input {
    width: 400px;
    font-size: large;
    border: none;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* BOX4 */

span {
    font-size: 0.75rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box5 */

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 50px;
}

/* PANEL */

.panel{
    background-color: #222f3d;
    color:white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.panel-ops p{
 
margin-left: 15px;
    display: inline;
    
}

a{
    text-decoration: none;
    color: white;
}

.panel-ops{
    width : 73%;
    font-size: 0.85rem;
    
}

.panel-deals
{
    font-size: 0.90rem;
    font-weight: 700;
}

/* HERO SECTION */

.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    margin: 15px;
    display: flex;
justify-content: center;
align-items: end;
}

.hero-message{
    background-color: white;
height: 40px;
    color: black;
    display:flex;
    align-items:centre;
    justify-content: center;
width: 90%;
margin-bottom: 25px;
}
.hero-message a {
    color: #007185;
    text-decoration: solid;
    text-decoration-line: underline ;

}

/* SHOP-SECTION */

.box{
    height: 350px;
    border:2px solid black;
    width: 21% ;
    padding:20px 0px 15px;
    background-color: white;
    margin: 15px;
}

.shop-section{
 display: flex;
 background-color: #e2e7e6;
 justify-content: space-evenly;
flex-wrap: wrap; 
 

}

.box-img{
    height: 250px;
    background-size: cover;
    margin-bottom: 30px;
    margin-top:7px;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content p{
    color:#007185
}

/* FOOTER */

.footer{
    margin-top:15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
display:flex;
justify-content: space-evenly;
align-items: center;
}

ul a{
    display: block;
    font-size: 12px;
    margin-top:10px;
    color: #cccccc;
}

ul{
    margin-top:20px;
}

.foot-panel3{
    background-color: #222f3d;
 height: 70px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    /* display: flex;
    justify-content: center;
     */
    height: 80px;
}

.pages{
    font-size:0.75rem;
    text-align: center;
    
}

.copyright{
    font-size: .75rem;
    text-align: center;
    margin: 5px;
}